<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message) do |f| %>
  <div class="form-group">
    名前：
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    内容：
    <%= f.text_area :body, :size => "100*200" %>
  </div>
  </br>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.submit class: "btn btn-block btn-lg btn-primary" %>
    </div>
  </div>
  <div class="col-sm-3"></div>
<% end %>


